[Unit]
Description=MediaPi Flask app
After=network-online.target mediapi-mpv.service
Wants=network-online.target mediapi-mpv.service

[Service]
Type=simple
User=jm
WorkingDirectory=/home/jm/mediapi
ExecStart=/home/jm/.local/bin/uv run run.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
